body {
	font-family: Arial;
}

.welcome {
	background-color: green;
	color: white;
	text-align: : left;
	padding: 40px;
}

ul > .menuitem.selected{
	background-color: green;
	list-style-type: none;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
	width: 100%;
	border: 1px solid black;
}

ul > .menuitem {
	background-color: lightgrey;
	list-style-type: none;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
	width: 100%;
	border: 1px solid black;
}

#menulist {
	position: relative;
	margin-left: 0px;
	padding-inline-start: 0px;
}

.wrapper {
	position: relative;
	width: 100%;
}

#menubar {
	position: absolute;
	width: 25%;
}

div > #main {
	position: relative;
	width: 70%;
	margin-left: 30%;
	text-align: justify-all;
}

#bottom {
	position: relative;
	text-align: center;
	margin-top: 30px;
	height: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: lightgrey;
}

a {
	color: white;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a#greenbutton {
	background-color: green;
}

a#orangebutton {
	background-color: orange;
}

a#bluebutton {
	background-color: blue;
}

a#redbutton {
	background-color: red;
}


